@font-face {
	font-family: 'goth';
	src: url('goth.ttf') format('truetype');
}

body {
	background: url(../images/background.png);
	margin: 0px 0px 0px 0px;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.play {

}

.main  {
	/* governs the horizontal space*/
	width: 1200px;
	margin: 0 auto;
	min-height: 2700px;
	font-family: 'goth', Fallback, 'Courier';
	font-size: 16pt;
	color: white;
}

marquee {
	color: red;
	font-size: 24pt;
	font-family: 'Courier';
}

hr {
	border-color: white;
}
	
a {
	color: red;
	text-decoration:none;
}

.titlebar {
	background:#000000;
	padding:0px 4px 0px 4px;
	line-height: 20px;
}

.subtitlebar p{
	padding: 4px 0px 24px 0px; /*hugs the subtitle text close to the title, but gives space below it*/
	margin: 0px;
}

div {
	font-size: 18pt;
}


h1 {
	font-size:48px;
	color:#d03401;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-size:36px;
	color:#d03401;
}

h3 {
	font-size:24px;
	color:#d03401;
	margin: 0px;
}

h4 {
	font-size:12px;
	color:#d03401;
	margin: 0px 0px 0px 12px;
}

.headinggray {
	font-size:32px;
	font-weight: bold;
}

.abitopaque {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	border:1px solid #0C0C0C;
	padding:8px;
	line-height:140%;	
}

.abitlessopaque {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	border:1px solid #0C0C0C;
	padding:8px;
	line-height:140%;	
}

p {
	margin: 0px 0px 0px 0px;
}

.navbar {
	font-size: 44px;
	background: rgba(6, 6, 6, 1);
	border: 0px;
	padding: 8px;
}

.navbarcurrent {
	font-size: 44px;
	color: white;
	background: rgba(24, 24, 24, 1);
	border: 0px;
	padding: 8px;

}

.navbar:hover {
	background: rgba(32, 32, 32, 1);
	padding: 8px;
}

.navbarcurrent:hover {
	background: rgba(32, 32, 32, 1);
	padding: 8px;
}

.hell {
	color: red;
	font-size: 40px;
}

.cyberthatcher {
	float: left;
	position:fixed;
    bottom:0px;
    left:0%;
}

.doomguy {
	float: right;
	position:fixed;
    bottom:0px;
    right:0%;
}

.instruction-pic {
	float: right;
	margin-left: 4%;
	margin-bottom: 1%;
}

.wad-pic {
	float: right;
	margin-left: 4%;
	margin-bottom: 5%;
	width: 15%;
}

.thumb {
	width : 300px;
}

.cool-box-art {
	width: 300px;
}

.side-images {
	width: 30%;
	margin-left:5%;
	float:right; 
}

table {
	margin-left: 1%;
	margin-right: 1%;
}

footer {
	background:transparent;
	font-family: 'Helvetica';
	color: #FFFFFF;
	font-size: 22px;
	margin-left: 2%;
	text-align:left;
	line-height: 72px;
} 

footer a{
	color: #FFFFFF;
	text-decoration: underline;
}

section {
	display: inline-block;
	width: 32%;
	margin: 4px 4px 16px 4px;
	border: 1px solid rgba(50,50,50,0.8);
}

section:hover {
    background-color: rgba(24,24,24,0.7);
}

.partition {
	background-color:#181818;
}


.profilepic {
	box-shadow: 4px 4px #383838;
	margin: 6px;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}